html   {
        overflow: auto;
        font-family: sans-serif;
}

html,
body,
object {
        margin: 0px;
        padding: 0px;
        height: 100%;
        border: none;
}

div,
iframe,
object {
        display: block;
        width: 100%;
        border: none;
        overflow-y: auto;
        overflow-x: hidden;
}

iframe {
        height: 90%;
}

div{
        display: flex;
        align-items:center;
        justify-content:space-between;
        height: 10%;
        flex-wrap: wrap;
}

a{
        padding: .5rem 1rem;
        border-radius: 8px;
        background-color: #618cad;
        color: rgb(224, 239, 241);
        text-decoration: none;
        cursor: pointer;
}

a:visited{
        color: #9ee4e9;
}

a:hover{
        color: white;
        background-color: #80a7c4;
        scale: 1.1;
        text-shadow: 1px 1px #ccc;
        transition: all .3s;
}
